@model CityViewModel

<div class="pt-3 ">
    <div class="row">
        <div class="col-12 pb-3" style="font-size: 28px;">
            @Model.Name
        </div>
        <div class="col-12">
            <div>
                <b>Страна: </b>@Model.Country.Name
            </div>
            <div>
                <b>Дата создания: </b>@Model.DateOfCreation.ToString("dd.MM.yyyy HH:mm:ss")
            </div>
            <div>
                <b>Дата обновления: </b>@Model.DateOfChange.ToString("dd.MM.yyyy HH:mm:ss")
            </div>
        </div>
    </div>

</div>