@model IEnumerable<ClientViewModel>

<h2>Список клиентов</h2>
<div>
    <a href="/client/create">Создать</a>
</div>
<div>
    @foreach (var client in Model)
    {
        <div>
            <input type="hidden" class="client-id" value="@client.Id" />
            <a href="/client/@client.Id">@client.Name</a>
            <a href="/client/edit/@client.Id">Редактировать</a>
            <button class="client-delete">Удалить</button>
        </div>
    }
</div>